<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
</head>

<body style="font-family:Arial; padding:20px;">

    <div style="text-align:center;">
        <h2>🏪 Harsha Borewell Company</h2>
        <p>Illapalle Kottapalem, Andhra Pradesh</p>
        <hr>
    </div>

    <h3>🧾 INVOICE</h3>

    <p><b>Bill No:</b> {{ bill_no }}</p>
    <p><b>Customer Name:</b> {{ customer }}</p>
    <p><b>Amount:</b> ₹{{ amount }}</p>

    <hr>

    <p style="text-align:center;">
        Thank you for your business 🙏
    </p>

</body>
</html>
