<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Realtime Chat</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

</head>

<body>

<div class="chat-container">

    <div class="top-bar">
        Harsha Chat
    </div>

    <div class="messages" id="messages"></div>

    <div class="input-box">

        <input type="text"
               id="messageInput"
               placeholder="Type a message...">

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script>

    const socket = io();

    function sendMessage() {

        let input = document.getElementById("messageInput");

        if(input.value.trim() !== "") {

            socket.send(input.value);

            input.value = "";

        }
    }

    socket.on('message', function(msg){

        let div = document.createElement("div");

        div.className = "message";

        div.innerText = msg;

        document.getElementById("messages").appendChild(div);

        document.getElementById("messages")
            .scrollTop =
            document.getElementById("messages")
            .scrollHeight;

    });

</script>

</body>
</html>
