<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bill App</title>
</head>

<body style="font-family:Arial; text-align:center; padding:20px;">

<h2>📄 Borewell Bill Generator</h2>

<form action="/bill" method="POST">

    <input name="customer" placeholder="Customer Name" required><br><br>

    <input name="depth" placeholder="Depth (feet)" required><br><br>

    <input name="rate" placeholder="Rate per foot" required><br><br>

    <input name="advance" placeholder="Advance Paid" required><br><br>

    <button type="submit" style="padding:10px;background:green;color:white;">
        Generate PDF Bill
    </button>

</form>

</body>
</html>
